<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}", type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  
  {% endblock %}
</head>
<body>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      {{ message }}
  </div>
  {% endfor %}

<h2>
  <img src="{{ url_for('static', filename='images/avatar.png') }}" alt="Avatar" class="avatar"> Home
</h2>
<nav>
  <ul>
    <li><a href={{ url_for('todo.index') }}>首页</a></li>
    <li><a href={{ url_for('todo.todo_index') }}>待办</a></li>
    <li><a>留言</a></li>
    <li><a></a></li>
  </ul>
</nav>
{% block content %}{% endblock %}
</body>
</html>